<a href="https://colab.research.google.com/github/datilasilva/Clear_manipulating_data_udemy_course/blob/main/tratamento_enem_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Course  Análise de Dados com Python - UDEMY**
--------------------------------------------------------------------------------
Python Language Fundamentals (operators, conditional structure, repetition structure, lists, tuples, dictionaries, arrays, functions and packages).Cleaning, organizing and manipulating data
--------------------------------------------------------------------------------
(Fundamentos da Linguagem Python (operadores , estrutura condicional, estrutura de repetição, listas, tuplas, dicionários, vetores, matrizes, funções e pacotes)
--------------------------------------------------------------------------------
Limpeza, organização e manipulação de dados)
--------------------------------------------------------------------------------

---

In [1]:
#import numpy and pandas
import numpy as np
import pandas as pd

**IMPORT FILE FROM GOOGLE DRIVE**

In [2]:
# para identificar  carecateres especiais que somente tem em portuguêssep= ';', encoding='iso-8859-1'
data = pd.read_csv('/content/drive/MyDrive/statistic_udemy/microdados_enem_2019_sp.csv', sep= ';', encoding='iso-8859-1')

In [3]:
data.head()

  NU_INSCRICAO  CO_MUNICIPIO_RESIDENCIA  ... NU_NOTA_REDACAO  Q025
0     1,90E+11                  3546801  ...           940.0     B
1     1,90E+11                  3538204  ...             NaN     A
2     1,90E+11                  3550308  ...           880.0     A
3     1,90E+11                  3548708  ...           560.0     B
4     1,90E+11                  3549409  ...             NaN     B

[5 rows x 44 columns]

In [4]:
data.shape

(813772, 44)

In [5]:
data.dtypes

NU_INSCRICAO                object
CO_MUNICIPIO_RESIDENCIA      int64
NO_MUNICIPIO_RESIDENCIA     object
CO_UF_RESIDENCIA             int64
SG_UF_RESIDENCIA            object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
CO_MUNICIPIO_NASCIMENTO    float64
NO_MUNICIPIO_NASCIMENTO     object
CO_UF_NASCIMENTO           float64
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO              int64
TP_ANO_CONCLUIU              int64
TP_ESCOLA                    int64
TP_ENSINO                  float64
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_SIT_FUNC_ESC            float64
TP_PRESENCA_CN               int64
TP_PRESENCA_CH               int64
TP_PRESENCA_LC               int64
TP_PRESENCA_MT               int64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                    int64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object

**CLEAR DATA**

In [6]:
# drop() is to clear columns
#good pratic to create a new variable to manipulation
data1 = data.drop(columns=['CO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ANO_CONCLUIU'],)

In [7]:
data1.head()

  NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  ...  NU_NOTA_REDACAO  Q025
0     1,90E+11            Santa Isabel  ...            940.0     B
1     1,90E+11             Pinhalzinho  ...              NaN     A
2     1,90E+11               São Paulo  ...            880.0     A
3     1,90E+11   São Bernardo do Campo  ...            560.0     B
4     1,90E+11    São Joaquim da Barra  ...              NaN     B

[5 rows x 41 columns]

In [8]:
data1.shape

(813772, 41)

In [9]:
#fix error from grade/nota
data1.loc[:,'NU_NOTA_CN'] /= 10
data1.loc[:,'NU_NOTA_LC'] /= 10
data1.loc[:,'NU_NOTA_MT'] /= 10
data1.loc[:,'NU_NOTA_CH'] /= 10

In [10]:
#rename grade / column - clear view
data1 = data1.rename(columns={'NU_NOTA_CN': 'NOTA_CN','NU_NOTA_LC': 'NOTA_LC', 
                              'NU_NOTA_MT': 'NOTA_MT', 'NU_NOTA_CH': 'NOTA_CH'})

In [11]:
data1 = data1.rename(columns={'NU_IDADE':'IDADE', 'NU_SEXO':'SEXO', 'TP_COR_RACA':'RACA', 
                              'Q025':'INTERNET', 'TP_ESCOLA':'ESCOLA',})

In [12]:
data1 = data1.rename(columns={'NU_NOTA_COMP1': 'NOTA_COMP1','NU_NOTA_COMP2': 'NOTA_COMP2', 
                              'NU_NOTA_COMP3': 'NOTA_COMP3', 'NU_NOTA_COMP4': 'NOTA_COMP4',
                              'NU_NOTA_COMP5': 'NOTA_COMP5'})

In [13]:
data1.head()

  NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  ...  NU_NOTA_REDACAO  INTERNET
0     1,90E+11            Santa Isabel  ...            940.0         B
1     1,90E+11             Pinhalzinho  ...              NaN         A
2     1,90E+11               São Paulo  ...            880.0         A
3     1,90E+11   São Bernardo do Campo  ...            560.0         B
4     1,90E+11    São Joaquim da Barra  ...              NaN         B

[5 rows x 41 columns]

In [14]:
#rename race / row - clear view
#o que vai ser alterado
data1["TP_LINGUA"] = data1["TP_LINGUA"].replace({0:"Ingles", 1:"Espanhol"})

In [15]:
data1['IDADE'].value_counts()

17    219313
18    147548
19     81236
16     59316
20     53009
       ...
4          1
3          1
91         1
86         1
2          1
Name: IDADE, Length: 80, dtype: int64

In [16]:
#contou a menor e maior idade que tentou ENEM e descobriu um erro com 2 anos, por exemplo
data1['IDADE'].value_counts().sort_index()

2     1
3     1
4     1
5     2
6     2
     ..
80    2
81    3
82    2
86    1
91    1
Name: IDADE, Length: 80, dtype: int64

In [17]:
#query to compare column
menores_12 = data1.query('IDADE < 12') ['NO_MUNICIPIO_RESIDENCIA'].value_counts()

In [18]:
menores_12

São Paulo                 5
Auriflama                 1
Vargem Grande Paulista    1
Tambaú                    1
Araçatuba                 1
Santana de Parnaíba       1
São Bernardo do Campo     1
Queiroz                   1
Bálsamo                   1
Embu das Artes            1
Campinas                  1
Ribeirão Preto            1
Name: NO_MUNICIPIO_RESIDENCIA, dtype: int64

In [19]:
#loc : localize
dados_maiores_11 = data1.loc[data1.IDADE > 11]

In [20]:
dados_maiores_11.head()

  NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  ...  NU_NOTA_REDACAO  INTERNET
0     1,90E+11            Santa Isabel  ...            940.0         B
1     1,90E+11             Pinhalzinho  ...              NaN         A
2     1,90E+11               São Paulo  ...            880.0         A
3     1,90E+11   São Bernardo do Campo  ...            560.0         B
4     1,90E+11    São Joaquim da Barra  ...              NaN         B

[5 rows x 41 columns]

In [21]:
#na nova tabela de dados procure em idade, cont e organize
dados_maiores_11['IDADE'].value_counts().sort_index()

12        6
13       29
14      355
15    11583
16    59316
      ...
80        2
81        3
82        2
86        1
91        1
Name: IDADE, Length: 73, dtype: int64

In [22]:
#treineiros - NEW TABLE
dados_maiores_11.query('IN_TREINEIRO == 1')['IN_TREINEIRO'].value_counts()

1    93988
Name: IN_TREINEIRO, dtype: int64

In [23]:
#treineiros - NEW TABLE
#==1 is ID in dictionary

treineiros = dados_maiores_11.loc[dados_maiores_11.IN_TREINEIRO == 1]

In [24]:
treineiros.head()

    NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  ...  NU_NOTA_REDACAO  INTERNET
20      1,90E+11                  Santos  ...            560.0         B
21      1,90E+11                Panorama  ...              NaN         A
106     1,90E+11               São Paulo  ...            540.0         B
109     1,90E+11        Águas de Lindóia  ...              NaN         B
159     1,90E+11        Águas de Lindóia  ...              NaN         B

[5 rows x 41 columns]

In [25]:
#CREATE A NEW CSV FILE - treineiros
treineiros.to_csv('treineiros_2019', encoding = 'iso-8859-1', index = False)

In [26]:
#CREATE A NEW CSV FILE - vestibulandos
vestibulandos = dados_maiores_11.loc[dados_maiores_11.IN_TREINEIRO ==0]

In [27]:
vestibulandos.shape

(719768, 41)

In [28]:
#who be presevestibulandos[]
vestibulandos['TP_PRESENCA_CN'].value_counts()

1    500805
0    218693
2       270
Name: TP_PRESENCA_CN, dtype: int64

In [29]:
vestibulandos['TP_PRESENCA_MT'].value_counts()

1    500805
0    218693
2       270
Name: TP_PRESENCA_MT, dtype: int64

In [30]:
vestibulandos['TP_STATUS_REDACAO'].value_counts().sort_index()

1.0    519763
2.0       913
3.0      1417
4.0      5513
6.0      3626
7.0       543
8.0       828
9.0       539
Name: TP_STATUS_REDACAO, dtype: int64

In [31]:
#valores ausentes - loss value
#delete null
vestibulandos['IDADE'].isnull().sum()

0

In [34]:
provas = ['NU_NOTA_REDACAO', 'NOTA_CN','NOTA_CH','NOTA_LC','NOTA_MT']

In [35]:
#valores ausentes - loss value
vestibulandos[provas].isnull().sum()

NU_NOTA_REDACAO    186626
NOTA_CN            218963
NOTA_CH            186626
NOTA_LC            186626
NOTA_MT            218963
dtype: int64

In [36]:
#create colum
presenca_total = ['TP_PRESENCA_CH','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT']

In [37]:
#separar quem compareceu
vestibulandos['presenca_total'] = vestibulandos[presenca_total].sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
vestibulandos['presenca_total'].value_counts().sort_index()
#0 messing
#2 one day
#4 2 day stay
#6 or + descla

0    185175
1       791
2         3
3     32935
4    499940
5       267
6       583
7        74
Name: presenca_total, dtype: int64

In [39]:
#who stay?
vestibulandos_presentes = vestibulandos.loc[vestibulandos.presenca_total == 4]

In [40]:
vestibulandos_presentes['TP_PRESENCA_CH'].value_counts().sort_index()

1    499940
Name: TP_PRESENCA_CH, dtype: int64

In [41]:
vestibulandos_presentes['TP_PRESENCA_LC'].value_counts().sort_index()

1    499940
Name: TP_PRESENCA_LC, dtype: int64

In [42]:
vestibulandos_presentes['TP_PRESENCA_MT'].value_counts().sort_index()

1    499940
Name: TP_PRESENCA_MT, dtype: int64

In [43]:
vestibulandos_classificados = vestibulandos_presentes.loc[vestibulandos_presentes.TP_PRESENCA_CH ==1]

In [44]:
vestibulandos_classificados[provas].isnull().sum()

NU_NOTA_REDACAO    0
NOTA_CN            0
NOTA_CH            0
NOTA_LC            0
NOTA_MT            0
dtype: int64

In [45]:
vestibulandos.head()

  NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA  ...  INTERNET  presenca_total
0     1,90E+11            Santa Isabel  ...         B               4
1     1,90E+11             Pinhalzinho  ...         A               0
2     1,90E+11               São Paulo  ...         A               4
3     1,90E+11   São Bernardo do Campo  ...         B               4
4     1,90E+11    São Joaquim da Barra  ...         B               0

[5 rows x 42 columns]

In [46]:
#GRADE

In [47]:
vestibulandos_classificados.query('NU_NOTA_REDACAO == 0')['NU_NOTA_REDACAO'].value_counts()

0.0    9181
Name: NU_NOTA_REDACAO, dtype: int64

In [51]:
vestibulandos_classificados.query('NOTA_COMP1 == 0')['NOTA_COMP1'].value_counts()

0.0    9188
Name: NOTA_COMP1, dtype: int64

In [52]:
vestibulandos_classificados.query('NOTA_COMP2 == 0')['NOTA_COMP2'].value_counts()

0.0    9181
Name: NOTA_COMP2, dtype: int64

In [53]:
vestibulandos_classificados.query('NOTA_COMP3 == 0')['NOTA_COMP3'].value_counts()

0.0    9197
Name: NOTA_COMP3, dtype: int64

In [54]:
vestibulandos_classificados.query('NOTA_COMP4 == 0')['NOTA_COMP4'].value_counts()

0.0    9194
Name: NOTA_COMP4, dtype: int64

In [55]:
vestibulandos_classificados.query('NOTA_COMP5 == 0')['NOTA_COMP5'].value_counts()

0.0    73330
Name: NOTA_COMP5, dtype: int64

In [56]:
vestibulandos_classificados = vestibulandos_classificados.drop(columns=["presenca_total"])

In [57]:
#salve in csv - DATA FRAME
vestibulandos_classificados.to_csv('enem_2019_clear.csv', encoding = 'iso-8859-1', index = False)